doctype html
html
  head
    meta(charset='utf-8')
    |
    title RestingRubik - Alg Form
  |
  body
    a(href=serveraddress) Index
    |
    h1 Algorithm Form
    |
    form(enctype='application/json', method='post', action=serveraddress+'api/alg')
      | Nombre:
      input(type='text', name='nombre')
      |       #moves:
      input(type='number', name='moves_number')
      |       Moves:
      input(type='text', name='moves')
      |       Applies:
      input(type='text', name='applies_to')
      |       Kind:
      select(name='kind')
        option(selected='') Permutation
        |
        option Orientation
        |
        option Conmutator
      |
      input(type='submit', value='POST')
