doctype html(lang='en')
head
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js').
    meta(charset='utf-8')   
    title RestingRubik - Cube Form  
  body
    a(href=serveraddress) Index    
    h1 Cube Form   
    form(id='addcube', enctype='application/json', method='post', action=serveraddress+'api/cube')
      input(type='text', name='nombre', placeholder='Nombre')
      input(type='text', name='brand', placeholder='Marca')
      input(type='text', name='capas', placeholder='Capas')
      select(name='kind')
        option(selected) Regular             
        option Cuboid             
        option Modification    
      input(type='submit', value='POST')
    br
    p(id='result_status' style='color:blue;')
    br
    pre(id='result_body' style='font-family: monospace;')
    script.
        $('#addcube').submit(function(event){
          
          //Evito que el boton de submit mueva a otra pagina.
          event.preventDefault(); 
          
          //Recojo los valores introducidos en el formulario
          var $form = $(this),
              postData = {
                nombre: $form.find('input[name="nombre"]').val(),
                brand: $form.find('input[name="brand"]').val(),
                capas: $form.find('input[name="capas"]').val(),
                kind: $form.find('input[name="kind"]').val()
              },
              
              url = $form.attr('action');
          
          $.ajax({
            url: url,
            type: 'POST',
            data: postData,
            contentType: "application/json",
            success: function(cube, textStatus, jqxhr){
              console.log(cube);
            },
            error: function(jqxhr, textStatus, errorThrown){
              console.log(errorThrown);
            }
          });
          
          /*
          var send = $.post(url, {
            nombre : nom,
            brand  : marca,
            capas  : layers,
            kind   : tipo
          }); 
          
          send.done(function(cube, textStatus){
            $('#result_status').text(textStatus);
            //$('#result_body').text(cube);
            console.log(JSON.parse(cube));
          });
          
          send.fail(function(jqxhr, textStatus, errorThrown) {
            console.log(textStatus, errorThrown, errorThrown.msg)
          });
        */
        });
