doctype html
html
  head
    meta(charset='utf-8')
    |     
    title RestingRubik - Guide Form
  |   
  body
    a(href=serveraddress) Index
    |     
    h1 Guide Form
    |     
    form(enctype='application/json', method='post', action=serveraddress+'api/guide')
      | Cube:   
      input(type='text', name='cube')
      |       Author: 
      input(type='text', name='author')
      |       URL:    
      input(type='url', name='url')
      |       Parts:  
      input(type='number', name='parts')
      |       Format: 
      select(name='format')
        option(selected='') Video
        |                 
        option Blog
      |       
      input(type='submit', value='POST')
